extends ../layout

block content
  // Page Wrapper
  #wrapper
    include ../helpers/admin-sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Usuario
          .row(style='width: 100%')
            form#editUserForm(method="POST" style='width: 100%' onsubmit='')
              .row
                .col
                  p.text-center.text-warning=msg
              .row
                .col
                  input#txtUsername.form-control(type='text' name='txtUsername' placeholder='Nombre de usuario' required='true' disabled)
                .col
                  input#txtEmail.form-control(type='text' name='txtEmail' placeholder='Correo electrónico' required='true')
                .col
                  select#txtRole.form-control(name='txtRole' required='true')
                    option(value='') Selecione un rol...
                    option(value='user') Usuario
                    option(value='supervisor') Supervisor
                    option(value='admin') Administrador
                    option(value='disabled') Deshabilitado
                .col
                  select#txtGroup.form-control(name='txtGroup' required='true')
                    option(value='baf') Banda Ancha Fija (BAF)
                    option(value='chat') Chat Soporte
                    option(value='pw') Página Web
                    option(value='admin') Administradores
              .row.text-center(style='width: 100%')
                .col#changePasswordInput
                  br
                  #changePassword
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Guardar
        // End of Main Content
        // Footer
        br
        footer.sticky-footer.bg-white
          .container.my-auto
            .copyright.text-center.my-auto
              span Copyright © RESONATELECOM S.A. 2019
          br
          .container.my-auto
            .copyright.text-center.my-auto
              span Developed by Robinson Ortega
        // End of Footer
        // End of Content Wrapper
        // End of Page Wrapper
        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
          i.fas.fa-angle-up
        include ../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  script.
    var user = !{ result }
  script(src='/javascripts/admin/edit_user.js')