extends ../layout

block content
  // Page Wrapper
  #wrapper
    include ../helpers/admin-sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Home PAGE
          hr.divider
          .row
            .col-6
              .card.shadow.mb-4
                .card-header.py-3
                  h6.m-0.font-weight-bold.text-primary CHAT
                .card-body
                  .table-responsive
                    table#tableChat.table.table-bordered.disabled(width='100%' cellspacing='0')
                      thead
                        tr
                          th  INDICADOR
                          th  CUMPLIMIENTO
                          th  META
                      tbody
                        tr
                          td TMO
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td ADHEREENCIA
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td TASA DE ESCALAMIENTO
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td CONVERTIBILIDAD
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td FCR
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td PRECISIÓN DE ESCALAMIENTO
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td OCUPACIÓN
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td NIVEL DE ABANDONO
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td NIVEL DE SERVICIO <= 120 SEGUNDOS
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td HORAS EFECTIVAS DE GESTIÓN
                          td#tmoChat 70,00%
                          td 90%
              .card.shadow.mb-4
                .card-header.py-3
                  h6.m-0.font-weight-bold.text-primary PÁGINA WEB
                .card-body
                  .table-responsive
                    table#tableChat.table.table-bordered.disabled(width='100%' cellspacing='0')
                      thead
                        tr
                          th  INDICADOR
                          th  CUMPLIMIENTO
                          th  META
                      tbody
                        tr
                          td ADHERENCIA
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td HORAS EFECTIVAS
                          td#tmoChat 70,00%
                          td 90%
                        tr
                          td PRECISIÓN DE ESCALAMIENTO
                          td#tmoChat 70,00%
                          td 90%
            .col-6
              p test
        include ../helpers/footer
        include ../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  script.
    var user = !{result}
    var result = user
    function addRow(data) {
      var table = $('#dataTable').DataTable();
      table.row.add([
        data.username,
        data.email,
        data.role,
        "<a href=\"/user/edit/"+data.id+"\">Editar</a> / <a href=\"/user/delete/"+data.id+"\">Eliminar</a>"
        ]).draw(true)
    };
    result.forEach(user => {
      addRow(user)
    });