extends ../layout

block content
  // Page Wrapper
  #wrapper
    include ../helpers/admin-sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Categorías
          .row(style='width: 100%')
            form(action="/monitoring/category/item/errors" method="post" style='width: 100%')
              .row
                .col
                  select#txtItem.form-control(name="txtItem" required='true')
                    option(selected='' value='') Item...
                .col
                  input#txtError.form-control(type='text' name='txtError' placeholder='Error' required='true')
                .col
                  input#txtPeso.form-control(type='text' name='txtPeso' placeholder='Peso' required='true')
              br
              .row
                .col.text-center
                  .custom-control.custom-checkbox.custom-control-inline
                    input#txtEcac.custom-control-input(type='checkbox' name='txtEcac')
                    label.custom-control-label(for='txtEcac') ECAC
                  .custom-control.custom-checkbox.custom-control-inline
                    input#txtEcan.custom-control-input(type='checkbox' name='txtEcan')
                    label.custom-control-label(for='txtEcan') ECAN
                  .custom-control.custom-checkbox.custom-control-inline
                    input#txtEcuf.custom-control-input(type='checkbox' name='txtEcuf')
                    label.custom-control-label(for='txtEcuf') ECUF
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Guardar
          br
          // DataTales Example
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-primary Registro de categorías
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th(width='5px') ID
                      th Item
                      th Error
                      th Afectación
                      th Estado
                      th Registro
                      th Modificación
                      th Opciones
                  tfoot
                    tr
                      th(width='5px') ID
                      th Item
                      th Error
                      th Afectación
                      th Estado
                      th Registro
                      th Modificación
                      th Opciones
                  tbody
        // End of Main Content
        // Footer
        br
        footer.sticky-footer.bg-white
          .container.my-auto
            .copyright.text-center.my-auto
              span Copyright © RESONATELECOM S.A. 2019
          br
          .container.my-auto
            .copyright.text-center.my-auto
              span Developed by Robinson Ortega
        // End of Footer
        // End of Content Wrapper
        // End of Page Wrapper
        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
          i.fas.fa-angle-up
        include ../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  script.
    var errors = !{result}
    var items = !{items}
  script(src='/javascripts/monitoring/item_errors.js')