extends ../../layout

block content
  // Page Wrapper
  #wrapper
    include ../../helpers/sidebar-pw
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../../helpers/topbar
        // Begin Page Content
        .container-fluid
          // DataTales Example
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-primary Tickets recibidos en estado pendiente
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th Ticket BPM
                      th Identificación
                      th Hora
                      th Estado
                  tfoot
                    tr
                      th Ticket BPM
                      th Identificación
                      th Hora
                      th Estado
                  tbody
        // End of Main Content
        include ../../helpers/footer
        include ../../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  // The core Firebase JS SDK is always required and must be listed first
  script(src='https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js')
  // Add Firebase products that you want to use
  script(src='https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js')
  script(src='https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js')
  script(src='/javascripts/firebase.conf.js')
  script(src='/javascripts/pw/user/bitacora.js')
  script(src='/javascripts/vanilla-notify.js')
  script(src='/javascripts/notify.js')