extends ../../layout

block content
  // Page Wrapper
  #wrapper
    include ../../helpers/sidebar-pw
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Registro de interacción
          .row(style='width: 100%')
            form#dataForm.user(method='POST' style='width: 100%')
              .row(style='width: 100%')
                .col
                  label(for="txtTicket") Ticket
                  input#txtTicket.form-control(type='text' aria-describedby='emailHelp' placeholder='Ticket' name='txtTicket' required='true' disabled)
                .col
                  label(for="txtDni") Identificación del cliente
                  input#txtDni.form-control(type='text' placeholder='Identificación del cliente' name='txtDni' required='true' disabled)
                .col
                  label(for='txtIn') Fecha y hora de ingreso
                  input#txtIn.form-control(type='text' placeholder='Fecha y hora de ingreso' name='txtIn' required='true' disabled)
              .row
                .col
                  label(for="txtReq") 
                  select#txtReq.form-control(name='txtReq' required='true')
                    option(value='') Tipo de servicio...
                    option(value='DTH') DTH
                    option(value='IF') Internet fijo
                    option(value='SMA') SMA
                    option(value='TF') Telefonía fija
                .col
                  label(for="txtType") 
                  select#txtType.form-control(name='txtType' required='true')
                    option(value='') Tipo de requerimiento...
                    option(value='c') Consulta
                    option(value='s') Soporte
                    option(value='v') Venta
                .col
                  label(for="txtContact") 
                  input#txtContacto.form-control(type='text' placeholder='Número de contacto' name='txtContacto' required='true')
              .row
                .col
                  label(for="txtInteraction") 
                  select#txtInteraction.form-control(name='txtInteraction' required='true')
                    option(value='C') Contactado
                    option(value='X') No contesta
                .col
                  label(for='txtProcess') 
                  select#txtProcess.form-control(name='txtProcess' required='true')
                    option(value='C') Cerrado
                    option(value='X') Pausado
                .col
                  label(for='txtDate')
                  input#txtDate.form-control(type="text" name="txtDate" required disabled)
              .row
                .col
                  label(for='txtSolution')
                  select#txtSolution.form-control(name='txtSolution' required='true')
                    option(value='S') Solucionado
                    option(value='E') Escalado
                    option(value='V') Visita Técnica
                .col
                  label(for='txtNumReq')
                  input#txtNumReq.form-control(type="text" placeholder='N/A' name="txtNumReq" disabled)
                .col
              .row
                .col
                  label(for='txtComentario')
                  textarea#txtComentario.form-control(type='text' aria-describedby='emailHelp' placeholder='Observación' name='txtComentario' title='Invalid format')
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Guardar
          br
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-primary Interacciones
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th(width='150px') Fecha
                      th(width='50px') Hora
                      th(width='250px') Contactado / No contactado
                      th Motivo de pausa
                  tfoot
                    tr
                      th Fecha
                      th Hora
                      th Contactado / No contactado
                      th Motivo de pausa
                  tbody
        // End of Main Content
        // Footer
        include ../../helpers/footer
        include ../../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/javascripts/sb-admin-2.min.js')
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  // The core Firebase JS SDK is always required and must be listed first
  script(src='https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js')
  // Add Firebase products that you want to use
  script(src='https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js')
  script(src='/javascripts/firebase.conf.js')
  script.
    var ticket = !{result}
  script(src='/javascripts/pw/user/ticket.js')