extends layout

block content
  // Page Wrapper
  #wrapper
    include helpers/sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Dashboard
          .row(style='width: 100%')
            form.user(action='/', method='POST', style='width: 100%')
              .row(style='width: 100%')
                .col
                  input#txtAnillamador.form-control(type='text', aria-describedby='emailHelp', placeholder='Anillamador', name='txtAnillamador')
                .col
                  input#txtDni.form-control(type='text', aria-describedby='emailHelp', placeholder='Cédula / Pasaporte', name='txtDni')
                .col
                  input#txtPir.form-control(type='text', aria-describedby='emailHelp', placeholder='PIR', name='txtPir')
                .col
                  input#txtTicket.form-control(type='text', aria-describedby='emailHelp', placeholder='Ticket', name='txtTicket')
                .col
                  input#txtTmo.form-control(type='text', aria-describedby='emailHelp', placeholder='Duración', name='txtTmo')
              .row(style='width: 100%')
                .col
                  br
                  textarea#txtComment.form-control(rows='5', cols='10', placeholder='Comentario', name='txtComment')
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Agregar
        // /.container-fluid
        =data
        // End of Main Content
        // Footer
        br
        footer.sticky-footer.bg-white
          .container.my-auto
            .copyright.text-center.my-auto
              span Copyright © RESONATELECOM S.A. 2019
          br
          .container.my-auto
            .copyright.text-center.my-auto
              span Developed by RKOrtega
        // End of Footer
        // End of Content Wrapper
        // End of Page Wrapper
        // Scroll to Top Button
        a.scroll-to-top.rounded(href='#page-top')
          i.fas.fa-angle-up
        include helpers/logout