extends layout

block content
  // Page Wrapper
  #wrapper
    include helpers/sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include helpers/topbar
        // Begin Page Content
        .container-fluid.bg-white
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.mb-0.text-gray-800 Bienvenido !{name}!
          hr.divider
          h4.mb-0.text-info Actualizaciones!
          .row
            .col
              br
              p.text-primary.font-weight-bold Bitácora: 
                span.font-weight-normal.text-secondary Registro de llamadas diarias.
              p.text-primary.font-weight-bold Bitácora mensual: 
                span.font-weight-normal.text-secondary Registro de todas las llamadas y cálculo del TMO mensual.
              p.text-primary.font-weight-bold Indicadores del mes (En desarrollo): 
                span.font-weight-normal.text-secondary Promedio del cumplimiento de los indicadores del mes en curso.
              p.text-primary.font-weight-bold Top de asesores (En desarrollo): 
                span.font-weight-normal.text-secondary Los 10 asesores con mejor cumplimiento en el mes.
              p.text-primary.font-weight-bold Actualizar un registro 
                span.font-weight-normal.text-secondary Para actualuzar un registro errado, basta con colocar el mismo número de ticket y volver a guardar, los datos modificados se actualizarán en la base de datos.
            .col-lg-6.d-none.d-lg-block.bg-index-image
          .row
            .col
              p.text-secondary
                | Este sistema está enfocada al seguimiento de la gestión de cada uno de los asesores, para de este modo poder medir los resultados de forma personal y llegar a cumplir nuestros objetivos.
        // End of Main Content
        include helpers/footer
        include helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')