extends ../../layout

block content
  // Page Wrapper
  #wrapper
    include ../../helpers/sidebar
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Panel de registro
            span.text-info Los campos marcados de rojo son obligatorios.
          .row(style='width: 100%')
            form.user(action='/bitacora' method='POST' style='width: 100%' onsubmit='cls()')
              .row(style='width: 100%')
                .col
                  input#txtIp.form-control.border-bottom-danger(type='text' placeholder='IP' name='txtIp' required='true' title='Ingrese una dirección IP')
                .col
                  input#txtDni.form-control.border-bottom-danger(type='text' placeholder='Identificación del cliente' name='txtDni' pattern='[0-9]+' title='Only numbers' required='true')
                .col
                  input#txtServ.form-control.border-bottom-danger(type='text' placeholder='Nuéro de servicio' name='txtServ' required='true')
                .col
                  select#txtReq.form-control.border-bottom-danger(name='txtReq' required='true')
                    option(selected='' value='') Tipo de requerimiento...
                    option(value='DTH') DTH
                    option(value='INTERNET') INTERNET
                    option(value='SMA') SMA
                    option(value='TELEFONÍA') TELEFONÍA
                    option(value='VENTA NUEVA') VENTA NUEVA
              .row
                .col
                  br
                  select#txtPir.form-control.border-bottom-danger(name='txtPir' required='true')
                    option(selected='' value='') Requerimiento...
                    option(value='CONSULTA / COMERCIAL') CONSULTA / COMERCIAL
                    option(value='CONSULTA / FACTURACIÓN') CONSULTA / FACTURACIÓN
                    option(value='CONSULTA / TÉCNICO') CONSULTA / TÉCNICO
                    option(value='PETICIÓN / COMERCIAL') PETICIÓN / COMERCIAL
                    option(value='PETICIÓN / FACTURACIÓN') PETICIÓN / FACTURACIÓN
                    option(value='RECLAMO / FACTURACIÓN') RECLAMO / FACTURACIÓN
                    option(value='SOPORTE / COMERCIAL') SOPORTE / COMERCIAL
                    option(value='SOPORTE / TÉCNICO') SOPORTE / TÉCNICO
                    option(value='VENTA') VENTA
                .col
                  br
                  input#txtTicket.form-control.border-bottom-danger(type='text' placeholder='Ticket Omnicanal' name='txtTicket' required='true' pattern='[0-9]+' title='Only numbers')
                .col
                  br
                  input#txtVt.form-control(type='text' placeholder='Código de VT' name='txtVt' pattern='[0-9]+' title='Only numbers')
                .col
                  br
                  input#txtTmo.form-control.border-bottom-danger(type='text' placeholder='Duración del chat mm:ss' name='txtTmo' required='true' pattern='[0-9]{2}:[0-9]{2}' title='Invalid format')
              .row.text-center(style='width: 100%')
                .col
                  br
                  textarea#txtComentario.form-control(type='text' aria-describedby='emailHelp' placeholder='Comentario' name='txtComentario' title='Invalid format')
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Guardar
          // /.container-fluid
          br
          // DataTales Example
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-primary Registros del día
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th(width='90px') IP
                      th(width='100px') Identificación
                      th Servicio
                      th Tipo
                      th PIR
                      th(width='150px') Ticket
                      th(width='150px') Tiempo
                  tfoot
                    tr
                      th IP
                      th Identificación
                      th Servicio
                      th Tipo
                      th PIR
                      th Ticket
                      th Tiempo
                  tbody
        // End of Main Content
        include ../../helpers/footer
        include ../../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  //Firebase SDK
  script(src='https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js')
  script(src='/javascripts/firebase.conf.js')
  //Firebase dtabase SDK
  script(src='https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js')
  //Firebase Firestore SDK
  script(src='https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js')
  script(src='/javascripts/vanilla-notify.js')
  script(src='/javascripts/user/user-notify-datatable.js')
  script(src='/javascripts/chat/user/bitacora.js')