extends ../../layout

block content
  // Page Wrapper
  #wrapper
    include ../../helpers/supervisor-sidebar-pw
    // Content Wrapper
    #content-wrapper.d-flex.flex-column
      // Main Content
      #content
        include ../../helpers/topbar
        // Begin Page Content
        .container-fluid
          // Page Heading
          .d-sm-flex.align-items-center.justify-content-between.mb-4
            h1.h3.mb-0.text-gray-800 Panel de registro de tickets
          .row(style='width: 100%')
            form.user(action='/ticket' method='POST' style='width: 100%' onsubmit='cls()')
              .row(style='width: 100%')
                .col
                  select#txtAsesor.form-control.selectpicker(name='txtAsesor' required='true')
                    option(selected='' value='') Asesor...
                .col
                  input#txtTicket.form-control(type='text' aria-describedby='emailHelp' placeholder='Ticket' name='txtTicket' required='true' pattern='[0-9]+' title='Only numbers')
                .col
                  input#txtDni.form-control(type='text' placeholder='Identificación del cliente' name='txtDni' required='true')
              .row.text-center(style='width: 100%')
                .col
                  br
                  button.btn.btn-outline-success.align-content-center(type='submit') Guardar
          // /.container-fluid
          br
          // DataTales Example
          .card.shadow.mb-4
            .card-header.py-3
              h6.m-0.font-weight-bold.text-primary Registros del día
            .card-body
              .table-responsive
                table#dataTable.table.table-bordered(width='100%' cellspacing='0')
                  thead
                    tr
                      th Ticket
                      th Asesor
                      th CI cliente
                      th Hora de envío
                      th Hora de atención
                      th Estado
                  tfoot
                    tr
                      th Ticket
                      th Asesor
                      th CI cliente
                      th Hora de envío
                      th Hora de atención
                      th Estado
                  tbody
        // End of Main Content
        include ../../helpers/footer
        include ../../helpers/logout
  //JQuery
  script(src='/vendor/jquery/jquery.min.js')
  // Data table Scripts
  script(src='/vendor/datatables/jquery.dataTables.min.js')
  script(src='/javascripts/demo/datatables-demo.js')
  // The core Firebase JS SDK is always required and must be listed first
  script(src='https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js')
  // Add Firebase products that you want to use
  script(src='https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js')
  script(src='https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js')
  script(src='https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js')
  script(src='/javascripts/firebase.conf.js')
  script(src='/javascripts/vanilla-notify.js')
  script(src='/javascripts/notify.js')
  script.
    var user = !{result}
    var result = user
  script(src='/javascripts/pw/supervisor/tickets.js')
