// The core Firebase JS SDK is always required and must be listed first
script(src='https://www.gstatic.com/firebasejs/6.6.2/firebase-app.js')
// Add Firebase products that you want to use
script(src='https://www.gstatic.com/firebasejs/5.10.1/firebase-database.js')
script(src='https://www.gstatic.com/firebasejs/6.3.4/firebase-firestore.js')
script(src='/javascripts/firebase.conf.js')
script(src='/javascripts/user/user-bitacora.js')