// Footer
br
footer.sticky-footer.bg-white
    .container.my-auto
        .copyright.text-center.my-auto
            span Copyright © RESONATELECOM S.A. 2019
    br
    .container.my-auto
        .copyright.text-center.my-auto
            span Developed by Robinson Ortega
// Scroll to Top Button
a.scroll-to-top.rounded(href='#page-top')
    i.fas.fa-angle-up