// Bootstrap core JavaScript
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
// Core plugin JavaScript
script(src='/vendor/jquery-easing/jquery.easing.min.js')
// Custom scripts for all pages
script(src='/javascripts/sb-admin-2.min.js')
// Data table Scripts
script(src='/vendor/datatables/jquery.dataTables.min.js')
script(src='/vendor/datatables/dataTables.bootstrap4.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js')
script(type='text/javascript', src='https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js')
script(src='/vendor/chart.js/Chart.min.js')
// Char Scripts
script(src='/javascripts/demo/chart-area-demo.js')
script(src='/javascripts/demo/chart-pie-demo.js')
script(src='/javascripts/demo/datatables-demo.js')