// Sidebar
ul#accordionSidebar.navbar-nav.bg-gradient-success.sidebar.sidebar-dark.accordion
    // Sidebar - Brand
    a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/')
        .sidebar-brand-icon.rotate-n-15
            i.fas.fa-user-circle
        .sidebar-brand-text.mx-3
            | RESONA
            sup RT
    // Divider
    hr.sidebar-divider.my-0
    // Nav Item - Dashboard
    li.nav-item
        a.nav-link(href='/')
            i.fas.fa-fw.fa-home
            span Inicio
        a.nav-link(href='/bitacora')
            i.fas.fa-fw.fa-file-alt
            span Bitácora
    // Divider
    hr.sidebar-divider
    // Heading
    .sidebar-heading
        | Reportes
    li.nav-item
        a.nav-link(href="/bitacora/general")
            i.fas.fa-fw.fa-chart-area
            span Bitácora mensual
    hr.sidebar-divider
    .sidebar-heading
        | Indicadores
    li.nav-item
        a.nav-link(href='/results')
            i.fas.fa-fw.fa-chart-area
            span Indicadores del mes
    li.nav-item
        a.nav-link(href='/top')
            i.fas.fa-fw.fa-list
            span Top de asesores